<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PureJS</title>

<!--  <script type="text/html" id="home">-->
<!--    <div class="landing__page">-->
<!--  <div class="form__container">-->
<!--    <div class="login__panel">-->
<!--      <div class="panel__header">-->
<!--        Company name-->
<!--        &lt;!&ndash;   IMG   &ndash;&gt;-->
<!--      </div>-->

<!--      <div class="social__login">-->
<!--          <div>-->
<!--            FB-->
<!--          </div>-->
<!--        <div>-->
<!--          GG-->
<!--        </div>-->
<!--        <div>-->
<!--          TWI-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form__wrapper">-->
<!--        <form class="login__form">-->
<!--          <input class="input username__input" type="text"  placeholder="Username"    required value=<%= username %>> <br>-->
<!--          <input class="input password__input" type="password" placeholder="Password"   required value=<%= password %>> <br>-->
<!--          <a class="password__revival">Forget Password?</a>-->
<!--          <div class="buttons__wrapper">-->
<!--&lt;!&ndash;            type="submit" value="Register"&ndash;&gt;-->
<!--            <button class="form__button form__button&#45;&#45;login" value="Login"  type="button"> Login </button>-->
<!--            <input class="form__button" type="submit" value="Register">-->
<!--          </div>-->

<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="img__wrapper">-->
<!--      <img class="img" src="./assets/astronaut.png" alt="">-->
<!--      &lt;!&ndash; //https://jsweisart.com/facebook-alegria&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--  </script>-->



<!--  <script type="text/html" id="success">-->
<!--    <div class="logged__in__page">-->
<!--        <div class="container">-->
<!--          <div class="content__wrapper">-->
<!--            <h1 class="header">-->
<!--              Welcome !-->
<!--            </h1>-->
<!--            <p class="prod__info">-->
<!--              Now you have access to:-->
<!--            </p>-->
<!--            <div class="feature__container">-->
<!--              <div class="feature__tile">-->
<!--                <div class="tile__img">-->
<!--                </div>-->
<!--                <h5 class="tile__header">Creative thinker</h5>-->
<!--                <p class="tile__text">-->
<!--                  Someone who will think outside the box.-->
<!--                  Someone who will think outside the box.-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="feature__tile">-->
<!--                <div class="tile__img">-->
<!--                </div>-->
<!--                <h5 class="tile__header">Creative thinker</h5>-->
<!--                <p class="tile__text">-->
<!--                  Someone who will think outside the box.-->
<!--                  Someone who will think outside the box.-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="feature__tile">-->
<!--                <div class="tile__img">-->
<!--                </div>-->
<!--                <h5 class="tile__header">Creative thinker</h5>-->
<!--                <p class="tile__text">-->
<!--                  Someone who will think outside the box.-->
<!--                  Someone who will think outside the box.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--    </div>-->
<!--  </script>-->
<!--  <script type="text/html" id="404">-->
<!--    <h1>404 Not found</h1>-->
<!--  </script>-->
</head>
<body>
<!--  <nav>-->
<!--    <a href="#">home</a>-->
<!--    <a href="#/ex1">example 1</a>-->
<!--    <a href="#/ex2">example 2</a>-->
<!--  </nav>-->
  <div id="app"></div>
  <script src="./app.js"></script>
</body>
</html>